{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}Green Hall Co.{% endblock %}

{% block content %}


		<div>
        <center>
            <img src="/static/Recycling123.jpg" style="margin-top: 120px"></img>
            <br><br><br>
			<ul class="list-unstyled">
				<li>
					Want to support local farmers?
				</li>
				<li>
					Enjoy fresh produce?
				</li>
				<li>
					Want to recycle but have trouble finding a place?
				</li>
				<li>
					Never know what to do with batteries or used motor/cooking oil?
				</li>
				<li>
					Stay tuned to Green Hall County
				</li>
				<li>
					We'll help you answer all these questions
				</li>
				<li>
					With sortable web maps!
				</li>
			</ul>
            </center>
		</div>


{% endblock %}
