{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}Green Hall Co.{% endblock %}

{% block content %}


		<div>
        <center>
			<ul class="list-unstyled" style="color: white">
				<li>
					Want to support local farmers?
				</li>
				<li>
					Enjoy fresh produce?
				</li>
				<li>
					Want to recycle but have trouble finding a place?
				</li>
				<li>
					Never know what to do with batteries or used motor/cooking oil?
				</li>
				<li>
					Stay tuned to Green Hall County
				</li>
				<li>
					We'll help you answer all these questions
				</li>
				<li>
					With sortable web maps!
				</li>
			</ul>
            <img src="/static/recycle.jpg"></img>
            </center>
		</div>


{% endblock %}
