{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}Green Hall Co.{% endblock %}

{% block content %}


		<div>
        <center>
			<ul class="list-unstyled" style="color: white"><p>Coming Soon! Green Hall County Recycling Maps!</p>
				<li>
					Have too much paper?
				</li>
				<li>
					What about glass?
				</li>
				<li>
					Never know what to do with batteries?
				</li>
				<li>
					Or used cooking grease/motor oil?
				</li>
				<li>
					Stay tuned to Green Hall County
				</li>
				<li>
					We'll help you answer all these questions
				</li>
				<li>
					With a sortable web map!
				</li>
			</ul>
            </center>
		</div>


{% endblock %}
