{% extends 'base.html' %}
{%  load staticfiles %}
<head>
{% block title %}Produce Stands{% endblock %}
{% block morehead %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
<style>#map {position: absolute; top: 50px; right: 0px; left: 100px; bottom: 50px; width: 75%}</style>
{%  endblock %}

</head>

{% block content %}

<div class="row clearfix">
    <div class="col-md-12-column">
        <div id="map"></div>
    </div>
</div>

{% endblock %}
{% block morescripts %}
    <script>
    var ouricon = {
            radius: 6,
            fillColor: "#0B0B61",
            color: "#0A0A2A",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.7
    };

    var map = L.mapbox.map('map', 'crswint.jljp9epk');

    $.getJSON("{% url 'api:stands' %}", function (data) {
        L.geoJson(data, {style: ouricon}).addTo(map);

    });

    $.getJSON("{% url 'api:stands' %}", function (data) {

        L.geoJson(data, {style: ouricon,

            onEachFeature: function(feature, layer){

                (function(layer,properties) {

                    layer.on("click", function (e) {
                        console.log(properties)
                        var popup = L.popup().setLatLng(e.latlng)

                                .setContent('<a href="http://127.0.0.1:8000/api/v1/produce?name=' + feature.id + '">' + properties.address + '</a>')

                                .openOn(map);

                    });

                }) (layer, feature.properties);

    }}).addTo(map);


    });

    </script>
{% endblock %}