{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    {% block morehead %}
        <style>

{#        #map { position:absolute; top:52px; right:10px; left:0; bottom:0; width:100%; }#}
        </style>
        <script src="'https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js"></script>
        <link href="https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css" rel="stylesheet" />
    {% endblock %}
</head>

<body style="background-color: #00B85C">

{% block content %}{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</body>
{% block morescripts %}
{#    <script>#}
{#    var map = L.mapbox.map('map',#}
{#                           'crswint.jhm4p47h',#}
{#                            {maxZoom: 22});#}
{#    </script>#}
{% endblock %}

</html>